<table class="centerChart">
    <tr>
        <th>Name</th>
        <th>Instances</th>
    </tr>
    <tr ng-repeat="service in services">
        <td>{{service.name}}</td>
        <td>{{service.serviceInstances.length}}</td>
    </tr>
</table>

<div layout="column">
    <div ng-repeat="service in serviceInstances">
        <div layout="row" layout-align="center center" flex>
            <div style="min-width: 600px" flex>
                <canvas class="centerChart chart chart-line"
                        chart-colors="graph.colours"
                        chart-options="graph.options"
                        width="600"
                        chart-data="service.data"
                        chart-labels="service.labels" flex>
                </canvas>
            </div>
            <div flex>
                <p>Service Id: {{service.serviceId}}</p>
                <p>Service IP: {{service.instanceInfo.ipAddr}}</p>
                <p>Service Port: {{service.port}}</p>
            </div>
        </div>
    </div>
</div>