<h1>{{test}}</h1>
<p ng-repeat="service in services">
    {{service.name}}
</p>

<table>
    <tr>
        <th>Name</th>
        <th>Instances</th>
    </tr>
    <tr ng-repeat="service in services">
        <td>{{service.name}}</td>
        <td>{{service.serviceInstances.length}}</td>
    </tr>
</table>
<!--<canvas id="bar"-->
<!--width="340"-->
<!--class="chart chart-bar"-->
<!--chart-data="data"-->
<!--chart-labels="labels"-->
<!--chart-click="onClick"-->
<!--chart-options="options">-->
<!--</canvas>-->
<!--<canvas id="line2" class="myChart chart chart-line" chart-data="data"-->
<!--height="10" width="10"-->
<!--chart-series="series" chart-options="options" chart-colors="colours"-->
<!--chart-dataset-override="datasetOverride" chart-click="onClick">-->
<!--</canvas>-->
<div layout="column">
    <div layout="row" flex>
        <canvas id="line" class="myChart chart chart-line" chart-data="data"
                chart-labels="labels"
                chart-series="series" chart-options="options" chart-colors="colours"
                chart-dataset-override="datasetOverride" chart-click="onClick" flex>
        </canvas>
        <div flex>
            HEre we explain what is happening
        </div>
    </div>

    <div layout="row" flex>
        <canvas id="line2" class="myChart chart chart-line" chart-data="data"
                chart-series="series" chart-options="options" chart-colors="colours"
                chart-dataset-override="datasetOverride" chart-click="onClick" flex>
        </canvas>
        <div flex>
            HEre we explain what is happening
        </div>
    </div>


</div>